<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Image Cropper Example</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/cropper.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
		<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/cropper.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-cropper.js}"></script>
		<script type="text/javascript" th:src="@{/js/index.js}"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					Hi there
				</div>
				<div class="col-md-12">
					<img id="image" th:src="@{/img/picture.jpg}">
				</div>
			</div>
			
		</div>
		
	</body>
</html>